<div class="jumbotron">

  <div class="row">
      <div class="col">
          
              <div class="card-header" style="background-color: white;">
                <h5>Admin</h5>
              </div>
              <ul class="list-group list-group-flush">
                <b><li class="list-group-item" style="background-color: rgb(6, 153, 252);"> <i class="fa fa-tachometer" aria-hidden="true" style="color: white;"></i>&nbsp; Dashboard</li></b>
                <b style="color: white;"><li class="list-group-item" style="background-color: rgb(10, 10, 10);" ><i class="fa fa-bell" aria-hidden="true" style="color: white;"></i> &nbsp;Users</li></b>
                
                <li class="list-group-item" style="background-color: black;"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></li>
              </ul>
            
      </div>
      <div class="col-10" >
          <div class="shadow p-3 mb-5 bg-white rounded">
<!-- For three dot -->
<div class="row">
<div class="col">
  <i class="fa fa-bars" aria-hidden="true"></i>
</div>
<div class="col-md-auto">

</div>
<div class="col col-lg-2">
  <i class="fa fa-user-circle" aria-hidden="true"></i> &nbsp;  SSStockAlert
</div>
</div>
<!-- For three dot end -->
<hr>
<!-- For three dot -->
<div class="row">
<div class="col">
  DashBoard
</div>
<div class="col-md-auto">

</div>
<div class="col col-lg-2">
  <button type="button" class="btn btn-info"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh</button>
  
</div>
</div>
<!-- For three dot end -->
<br>
<!-- Card side by side -->
<div class="row">
<div class="col">
  <div class="card" style="width: 18rem;">
      <div class="card-header">
       Daily
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
              <div class="col-8">
                Total alerts
              </div>
              <div class="col">
                0
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row">
              <div class="col-8">
                Profitable alerts
              </div>
              <div class="col">
                0
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row">
              <div class="col-8">
                SL alerts
              </div>
              <div class="col">
               0
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row">
              <div class="col-8">
               Total Investment
              </div>
              <div class="col">
                0
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row">
              <div class="col-8">
                ROI
              </div>
              <div class="col">
                0
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row">
              <div class="col-8">
                ROI Percent
              </div>
              <div class="col">
                0
              </div>
            </div>
        </li>
      </ul>
    </div>
</div>
<div class="col-6">
  <div class="card" style="width: 18rem;">
      <div class="card-header">
        Weekly 2020-11-30 to Weekly 2020-12-05
        
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
              <div class="col-8">
                Total alerts
              </div>
              <div class="col">
                18
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row">
              <div class="col-8">
               Profitable alerts
              </div>
              <div class="col">
                5
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row">
              <div class="col-8">
                SL alerts
              </div>
              <div class="col">
                7
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row">
              <div class="col-8">
                Total investment
              </div>
              <div class="col">
               26,450.6
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row">
              <div class="col-8">
               ROI
              </div>
              <div class="col">
                50.15
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row">
              <div class="col-8">
               ROI investment
              </div>
              <div class="col">
                0.19
              </div>
            </div>
        </li>
        <li class="list-group-item">
            T1 achieved: 0 T2 Achieved :3 T3 Achieved :1 T4 Achieved:1 
        </li>
      </ul>
    </div>
</div>
<div class="col">

</div>
</div>
<!-- Card side by side end -->



          </div>
      </div>
      
    </div>
</div>

<router-outlet></router-outlet>